#a {
    background-color: rgba(120, 130, 214, 0.863);
}

#b {
    background-color: rgb(255, 255, 255);
    color: #212529;
}

#toggle {
    color: white;
}

#titulo {
    color: white;
}

#l-email {
    color: white;
}

#l-senha {
    color: white;
}

.b {
    background-color: rgba(120, 130, 214, 0.863);
    align-content: center;
    height: 800px;
    width: 900px;
    justify-content: space-around;
    border-radius: 51px;
    padding: 35px;
}

.q{
    display: grid;
    grid-auto-flow: column;
}

.a {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.c {
    display: grid;
    padding: 50px;
    gap: 30px;
}

.qbranco {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    display: inline-flex;
    width: 300px;
    height: 110px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
}


.im {
    position: fixed;
    height: 150px;
    padding: 20px;
}

.qroxo {
    background-color: rgba(120, 130, 214, 0.863);

}

button{
    border: none;
}

.tabela_branca{
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 30px;
    justify-content: space-between;
}

.elemento_tabela{
  display:flex ;
  justify-content: space-between;  
}

.b_velocidade{
    background-color: rgba(120, 130, 214, 0.863);
    height: 800px;
    width: 900px;
    justify-content: space-around;
    border-radius: 51px;
    padding: 35px;
}