#a {
    background-color: rgba(120, 130, 214, 0.863);
}

#b {
    background-color: rgb(255, 255, 255);
    color: #212529;
}

#toggle {
    color: white;
}

#titulo {
    color: white;
}

#l-email {
    color: white;
}

#l-senha {
    color: white;
}




.im {
    position: fixed;
    height: 150px;
    padding: 20px;
}

.qroxo {
    background-color: rgba(120, 130, 214, 0.863);

}

/* rgba(206, 188, 128, 0.863) = bege

/* rgba(120, 130, 214, 0.863) = cor principal

